@media (min-width:576px) and (max-width:750px) {
    li {
        font-size: 13px;
    }
}

@media (min-width:576px) {
    #form1 {
        display: none;
    }
}
@media (min-width:576px) {
    #logo2{
        display: none;
    }
}
@media (max-width:575px) {
    #logo{
        display: none;
    }
    #logo2{
        justify-content: center !important;
    }
    #form1{
        display: none;
    }
}



@media (max-width:500px) {
    #material {
        font-size: 12px;
    }
}
@media (max-width:575px) {
    #largeform{
        display: none;
    }
    #largecancel{
        display: none;
    }
}
@media (mIN-width:576px) {
    #smallform{
        display: none;
    }
    #smallcancel{
        display: none;
    }
}


@media (min-width:991px) {
    #img {
        margin-left: 10px !important;
        margin-top: 65px !important;
        width: 500px;
    }
}

@media (min-width:993px) and (max-width:1247) {
    #card {
        margin-left: 10px !important;
        margin-top: 65px !important;
        width: 500px;
    }
}

@media (min-width:0px) and (max-width:576px) {

    #form {
        display: none;
    }

    #cancel {
        display: none;
    }
}
@media (max-width:576px) {

    #come{
        margin-left: 0px !important;
        margin-top: 1px !important;
    }
}

@media(max-width:991px) {
    #cards {
        justify-content: center !important;
    }

    #card2 {
        margin-top: 50px;
    }

    #card4 {
        margin-top: 50px;
    }

    #card3 {
        margin-top: 50px;
    }
}

@media (min-width:864px) and (max-width:1152px) {
    #card4 {
        margin-top: 50px;
    }
}

@media (min-width:567px) and (max-width:863px) {
    #card4 {
        margin-top: 50px;
    }

    #card3 {
        margin-top: 50px;
    }
}

@media (max-width:1100px) {
    footer .flex:first-child {
        flex-wrap: wrap;
    }

    footer .flex:first-child .flex-content {
        flex: 1 1 40%;
    }
}

@media (max-width:920px) {
    footer .flex:last-child .flex-content:last-child {
        text-align: left;
    }
}

@media (max-width:320px) {
    footer .flex:first-child .flex-content {
        flex: 1 1 100%;
    }
}

@media (max-width:920px) {
    .flex {
        flex-wrap: wrap;
    }

    .padding_1x,
    .padding_2x,
    .padding_3x,
    .padding_4x {
        padding: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
    }

    a,
    p {
        font-size: 12px;
    }
}


@media (max-width:400px) {
    .fixed_flex {
        display: table-column;
    }
}


@media(max-width:576px) {
    #btn{
        margin-left: 0px !important;
        margin-top: 15px !important;
    }
}